#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 3px;

}

.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-height: 200;
  min-height: 100;
  
}

.weather-info {
  min-height: 200px; /* reserves space so that items below don't move up during loading*/
  display: flex;
  align-items: center; 
  justify-content: center;
  text-shadow: 3cap;
}


.favorites{
display: flex;
gap: 5rem;
color: rgb(228, 223, 233);

}

.favorites button{
  background-color: transparent;
  color: rgb(232, 60, 60);
}